<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Semestrální_projekt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Semestrální_projekt.Properties.Settings>
            <setting name="db_path" serializeAs="String">
                <value />
            </setting>
            <setting name="theme" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>cs</value>
            </setting>
            <setting name="def_metric" serializeAs="String">
                <value>kg</value>
            </setting>
            <setting name="last_saved" serializeAs="String">
                <value />
            </setting>
        </Semestrální_projekt.Properties.Settings>
    </userSettings>
</configuration>